{% extends 'main.html' %}

{% block content %}
<style>
body {
    font-family: Cambria;
    height: 100%;
    background-image: linear-gradient(#4e0374, #c37ee6);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class="row" style="margin-bottom: 477px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if pred == 1 %}
            <div class="card card-body alert alert-danger"><center>MALIGNANT. The patient might have the disease.</center></div>
        {% elif pred == 0 %}
            <div class="card card-body alert alert-success"><center>BENIGN. The patient is healthy.</center></div>
        {% else %}
            <!-- Handle unexpected values of pred, if any -->
            <div class="card card-body alert alert-warning"><center>Unknown prediction result. Please try again.</center></div>
        {% endif %}
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><a href="{{ url_for('cancerPage') }}" class="btn btn-block btn-primary" style="background-color: #4e0374">Back to Home</a></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
